<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex justify-content-between">
  #<%= link_to root_path do %>
  <% end %>
    <%if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
</div>

