<div class="container">
  <table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Stock</th>
      <th scope="col">Nombre</th>
      <th scope="col">Pedido</th>
      <th scope="col">Consignacion</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
        <th scope="row"><%=item.stock%></th>
        <td><%=item.name%></td>
        <td>
          <%= link_to "Agregar", cart_add_path(@cart, item), class: "btn btn-outline-success"%>

          </td>
        <td>
          <%= link_to "Agregar", cart_consig_path(@cart, item), class: "btn btn-outline-success"%>
        </td>
        <% end %>
    </tr>
    </div>
  </div>
