.confirmado {
  background: #70a1ff;
}
.entregado {
  background: #7bed9f;
}
.solo-barril {
  background: #f6e58d;
}
.maquina-fija {
  background: #7bed9f;
}
.retirado {
  background: #95a5a6;
}

.date {
  color: white !important;
}

.no-mostrar {
  display: none;
}
.anulado {
  background: red;

}
