.confirmado {
  background: #70a1ff;
}
.entregado {
  background: #7bed9f;
}
.solo-barril {
  background: #f6e58d;
}
.maquina-fija {
  background: #7bed9f;
}
.retirado {
  background: #95a5a6;
}
.no-mostrar {
  display: none;
}
.anulado {
  background: red;
}
.Contado {
  background: blue;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.Credito {
  background: red;
  margin: 2px;
  justify-content: center;
  color: white;
  display: flex;
  border-radius: 10px;
}
